.div_login {
  width: 50%;
  height: 50%;
  min-width: 300px;
  max-width: 400px;
  padding: 40px;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.glyph-color-green {
    color: #339900;
}

.glyph-color-red {
    color: #CC0000;
}

.text-vcenter {
    vertical-align: middle !important;
}