<!DOCTYPE html>
<html>
<head>
	<title>
		{% block title %}{% endblock %}
	</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/skylab.css' %}">
</head>
<body role="document">
    {% block main %}
    {% if is_authenticated %}
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">Учет ключей</a>
            </div>
            <div class="navbar-collapse collapse">

            </div>
        </div>
    </div>
    {% block actions %}
    <div class="container-fluid">
        <div class="row">
        <div class="col-md-2">
            {% if is_superuser %}
            <a class="list-group-item" href="{% url 'statuses:view' %}">Статусы заявок</a>
            <a class="list-group-item" href="{% url 'priorities:view' %}">Приоритеты заявок</a>
            <a class="list-group-item" href="{% url 'organizations:view' %}">Организации</a>
            <a class="list-group-item" href="{% url 'streets:view' %}">Улицы</a>
            <a class="list-group-item" href="{% url 'buildings:view' %}">Здания</a>
            <a class="list-group-item" href="{% url 'users:view' %}">Пользователи</a>
            {% endif %}
            <a class="list-group-item" href="{% url 'orders:view' %}">Заявки</a>
            <a class="list-group-item" href="{% url 'orders:add' %}">Создать заявку</a>

            {% if is_superuser %}
            <a class="list-group-item" href="{% url 'statuses:add' %}">Добавить статус заявки</a>
            <a class="list-group-item" href="{% url 'organizations:add' %}">Добавить организацию</a>
            <a class="list-group-item" href="{% url 'streets:add' %}">Добавить улицу</a>
            <a class="list-group-item" href="{% url 'buildings:add' %}">Добавить здание</a>
            <a class="list-group-item" href="{% url 'priorities:add' %}">Добавить приоритет</a>
            <a class="list-group-item" href="{% url 'users:add' %}">Добавить пользователя</a>
            {% endif %}

            <a class="list-group-item" href="{% url 'logout' %}">Выйти</a>
        </div>
        <div class="col-md-5">
            {% block content %}
            {% endblock %}
        </div>
        </div>
    </div>
	{% endblock %}
    {% endif %}
    {% endblock %}
</body>
</html>