<!DOCTYPE html>
<html>
<head>
	<title>
		{% block title %}
		{% endblock %}
	</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="">
</head>
<body>
    {% if is_authenticated %}
    <table align="left">
        <tr>
        <td>Меню</td>
        </tr>
        <tr><td>Справочники</td></tr>
        <tr><td><a href="{% url 'orders:view' %}">Заявки</a></td></tr>
        {% if is_superuser %}
        <tr><td><a href="{% url 'statuses:view' %}">Статусы заявок</a></td></tr>
        <tr><td><a href="{% url 'priorities:view' %}">Приоритеты заявок</a></td></tr>
        <tr><td><a href="{% url 'organizations:view' %}">Организации</a></td></tr>
        <tr><td><a href="{% url 'streets:view' %}">Улицы</a></td></tr>
        <tr><td><a href="{% url 'buildings:view' %}">Здания</a></td></tr>
        <tr><td><a href="{% url 'users:view' %}">Пользователи</a></td></tr>
        {% endif %}

        <tr><td>Действия</td></tr>
        <tr><td><a href="{% url 'orders:add' %}">Создать заявку</a></td></tr>
        {% if is_superuser %}
        <tr><td><a href="{% url 'statuses:add' %}">Добавить статус заявки</a></td></tr>
        <tr><td><a href="{% url 'organizations:add' %}">Добавить организацию</a></td></tr>
        <tr><td><a href="{% url 'streets:add' %}">Добавить улицу</a></td></tr>
        <tr><td><a href="{% url 'buildings:add' %}">Добавить здание</a></td></tr>
        <tr><td><a href="{% url 'priorities:add' %}">Добавить приоритет</a></td></tr>
        <tr><td><a href="{% url 'users:add' %}">Добавить пользователя</a></td></tr>
        {% endif %}

        <tr><td><a href="{% url 'logout' %}">Выйти</a></td></tr>
    </table>
    {% endif %}

	{% block actions %}
	{% endblock %}
    {% block content %}
    {% endblock %}
	{% block user %}
	{% endblock %}
</body>
</html>