{% extends "base.html" %}

{% block main %}

{% if form_auth.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<!--
<div class="container">
<form class="horizontal-form" role="form" method="post" action="{% url 'login' %}">
{% csrf_token %}

<table align="center">
<tr>
    <td>Логин:</td>
    <td>{{ form_auth.username }}</td>
    {{ form_auth.username.id }}
</tr>
<tr>
    <td>Пароль:</td>
    <td>{{ form_auth.password }}</td>
</tr>
<tr>
<td></td>
<td align="right"><input type="submit" class="btn btn-lg btn-primary" value="Войти"/></td>
</tr>
</table>

</form>
</div>
-->

<div class="container div_login">
<form role="form" method="post" action="{% url 'login' %}">
  {% csrf_token %}
  <div class="form-group">
    <label for="id_username">Логин</label>
    <input name="username" type="text" class="form-control" id="id_username" placeholder="Логин">
  </div>
  <div class="form-group">
    <label for="id_password">Пароль</label>
    <input name="password" type="password" class="form-control" id="id_password" placeholder="Пароль">
  </div>
  <button type="submit" class="btn btn-default">Войти</button>
</form>
</div>
{% endblock %}