{% extends "base.html" %}
{% block title %}Приоритеты заявок{% endblock %}
{% block content %}

    <div class="panel panel-default">
	<table class="table table-bordered" align="center">
	
	<tr class="info">
		<th class="text-center text-vcenter">Приоритет</th>
		<th class="text-center text-vcenter">По умолчанию</th>
	</tr>
	
	{% for priority in priorities %}
	<tr>
		<td>{{ priority.name }}</td>
		<td class="text-center text-vcenter">
            {% if priority.is_default %}
                <span class="glyphicon glyphicon-plus glyph-color-green"></span>
            {% else %}
                <span class="glyphicon glyphicon-minus glyph-color-red"></span>
            {% endif %}
        </td>
		{% if is_superuser %}
		<td><a href="{% url 'priorities:edit' priority.id %}">Редактировать</a></td>
		<td><a href="{% url 'priorities:del'  priority.id %}">Удалить</a></td>
		{% endif %}
	</tr>
	{% endfor %}
	</table>
    </div>

{% endblock %}