{% extends "base.html" %}
{% block title %}Создание заявки{% endblock %}
{% block content %}

<form name="status_add" class="from" method="post" action="{% url 'statuses:edit' status_id %}">
	{% csrf_token %}

    <div class="form-group">
        <label for="id_name">Статус заявки</label>
        <input name="name" type="text" class="form-control" id="id_name" placeholder="Статус" value="{{ status_form.name.value }}">
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" id="id_user_can_cancel" {% if priority_form.user_can_cancel.value %}checked="checked"{% endif %}> Возможно отменить
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" id="id_manager_can_use" {% if priority_form.manager_can_use.value %}checked="checked"{% endif %}> Может использовать управляющая компания
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" id="id_controller_can_use" {% if priority_form.controller_can_use.value %}checked="checked"{% endif %}> Может использовать управляющая компания
        </label>
    </div>

    <button type="submit" class="btn btn-primary">Сохранить</button>

	<table >
	{{ status_form.as_table }}
	</table>
	<input type="submit" value="Сохранить">
</form>

{% endblock %}