{% extends "base.html" %}
{% block title %}Статусы заявок{% endblock %}
{% block content %}

    <div class="panel panel-default">
	<table class="table table-bordered">
	
	<tr class="info">
		<th class="text-center text-vcenter">Статус</th>
		<th class="text-center text-vcenter">Возможна отмена пользователем</th>
		<th class="text-center text-vcenter">Может использоваться управляющей компанией</th>
		<th class="text-center text-vcenter">Может использоваться контролирующим органом</th>
		<th class="text-center text-vcenter">По умолчанию</th>
        <th></th>
        <th></th>
	</tr>
	
	{% for status in statuses %}
	<tr class="text-center">
		<td class="text-vcenter">{{ status.name }}</td>
		<td style="vertical-align: middle">
            {% if status.user_can_cancel %}
                <span class="glyphicon glyphicon-plus glyph-color-green"></span>
            {% else %}
                <span class="glyphicon glyphicon-minus glyph-color-red"></span>
            {% endif %}
        </td>
		<td style="vertical-align: middle">
            {% if status.manager_can_use %}
                <span class="glyphicon glyphicon-plus glyph-color-green"></span>
            {% else %}
                <span class="glyphicon glyphicon-minus glyph-color-red"></span>
            {% endif %}
        </td>
		<td style="vertical-align: middle">
            {% if status.controller_can_use %}
                <span class="glyphicon glyphicon-plus glyph-color-green"></span>
            {% else %}
                <span class="glyphicon glyphicon-minus glyph-color-red"></span>
            {% endif %}
        </td>
		<td style="vertical-align: middle">
            {% if status.is_default %}
                <span class="glyphicon glyphicon-plus glyph-color-green"></span>
            {% else %}
                <span class="glyphicon glyphicon-minus glyph-color-red"></span>
            {% endif %}
        </td>
		{% if request_user.is_superuser %}
		<td style="vertical-align: middle"><a class="glyphicon glyphicon-edit" href="{% url 'statuses:edit' status_id=status.id %}"/></td>
		<td style="vertical-align: middle"><a class="glyphicon glyphicon-remove" href="{% url 'statuses:del' status_id=status.id %}"/></td>
		{% endif %}
	</tr>
	{% endfor %}
	</table>
    </div>

{% endblock %}