{% extends "base.html" %}
{% block title %}Статусы заявок{% endblock %}
{% block content %}

	<table class="table table-bordered" align="center">
	
	<tr class="info">
		<td>Статус</td>
		<td>Возможна отмена пользователем</td>
		<td>Может использоваться 
		управляющей компанией</td>
		<td>Может использоваться 
		контролирующим органом</td>
		<td>По умолчанию</td>
        <td></td>
        <td></td>
	</tr>
	
	{% for status in statuses %}
	<tr>
		<td>{{ status.name }}</td>
		<td>
            {% if status.user_can_cancel %}
                <span class="glyphicon glyphicon glyphicon-ok-circle"></span>
            {% else %}
                <span class="glyphicon glyphicon-remove-circle"></span>
            {% endif %}
        </td>
		<td>
            {% if status.manager_can_use %}
                <span class="glyphicon glyphicon glyphicon-ok-circle"></span>
            {% else %}
                <span class="glyphicon glyphicon-remove-circle"></span>
            {% endif %}
        </td>
		<td>
            {% if status.controller_can_use %}
                <span class="glyphicon glyphicon glyphicon-ok-circle"></span>
            {% else %}
                <span class="glyphicon glyphicon-remove-circle"></span>
            {% endif %}
        </td>
		<td>
            {% if status.is_default %}
                <span class="glyphicon glyphicon glyphicon-ok-circle"></span>
            {% else %}
                <span class="glyphicon glyphicon-remove-circle"></span>
            {% endif %}
        </td>
		{% if is_superuser %}
		<td><a class="glyphicon glyphicon-edit" href="{% url 'statuses:edit' status_id=status.id %}"/></td>
		<td><a class="glyphicon glyphicon-remove" href="{% url 'statuses:del' status_id=status.id %}"/></td>
		{% endif %}
	</tr>
	{% endfor %}
	</table>

{% endblock %}