{% extends "base.html" %}
{% block title %}Пользователи{% endblock %}
{% block content %}

{% csrf_token %}
<div class="panel panel-default">
<table class="table table-bordered" align="center">
	<tr class="info">
	<th>Логин</th>
	<th>Email</th>
	<th>Имя</th>
	<th>Фамилия</th>
    <th>Администратор</th>
	</tr>
{% for user in users %}	
	<tr>
	<td>{{ user.username }}</td>
	<td>{{ user.email }}</td>
	<td>{{ user.first_name }}</td>
	<td>{{ user.last_name }}</td>
    <td>{{ user.is_superuser }}</td>
    <td><a href="#">Редактировать</a></td>
	<td><a href="{% url 'users:del' user.id %}">Удалить</a></td>
	</tr>
{% endfor %}
</table>
</div>

{% endblock %}